:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
}

@include-when-export url(https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

@font-face {
    font-family: "Adelle";
    font-style: normal;
    font-weight: normal;
    src: local("Adelle Light"), url("./Global/Adelle-Light.woff") format("woff");
}

@font-face {
    font-family: "Adelle";
    font-style: italic;
    font-weight: normal;
    src: local("Adelle Light Italic"), url("./Global/Adelle-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Adelle";
    font-style: normal;
    font-weight: bold;
    src: local("Adelle SemiBold"), url("./Global/Adelle-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Adelle";
    font-style: italic;
    font-weight: bold;
    src: local("Adelle SemiBold Italic"),
        url("./ursine/Adelle-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "PingFang";
    font-style: normal;
    font-weight: normal;
    src: url(./Global/PingFang\ 简体.ttf);
}

@font-face {
    font-family: "PingFangBold";
    font-style: normal;
    font-weight: bold;
    src: url(./Global/PingFang\ 简粗.ttf);
}

/* let | const | var | function */
.cm-s-inner .cm-keyword {
    color: #5000ff;
    font-style: italic;
}

.cm-s-inner .cm-type {
    color: #c88e23;
}
.cm-s-inner .cm-def,
.cm-s-inner .cm-variable {
    color: #444bab;
}
/* 变量下的属性 | 方法 */
.cm-s-inner .cm-property {
    color: #111111;
}
/* 箭头| = 赋值符号 */
.cm-s-inner .cm-operator {
    color: #e7256b;
}
/* 注释 */
.cm-s-inner .cm-comment {
    color: #2baa49;
}
/* 数字类型 */
.cm-s-inner .cm-number {
    color: #9872dd;
}

/* 字符串 */
.cm-s-inner .cm-string-2,
.cm-s-inner .cm-string {
    color: #bfb663;
}

/* TODO: 修改了代码块、YMAL内的字体 */
#write pre.ty-contain-cm,
#write pre.md-meta-block {
    color: #111;
    font-family: JetBrains Mono, "Adelle", "PingFang" !important;
}

#write pre.ty-contain-cm {
    border-radius: 5px;
    background: #ffffff;
    box-shadow: -7px -9px 10px #0b0b0b0a, inset -1px -1px 2px #ddd9e4;
}

/* TODO  右键 Menu 自定义配置*/
.menu-style-btn.disabled,
.menu-style-btn.disabled:hover {
    color: inherit !important;
    cursor: not-allowed !important;
}
.context-menu {
    border: 1px solid #efefef;
    border: 2px solid rgb(99 99 99);
    border-radius: 8px;
}

html {
    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Adelle", "PingFang";
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

#write {
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 100px;
}

@media only screen and (min-width: 1400px) {
    #write {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1800px) {
    #write {
        max-width: 1200px;
    }
}

#write strong {
    color: #111 !important;
    font-family: JetBrains Mono, "Adelle", "PingFangBold" !important;
    font-weight: bold;
}

#write > ul:first-child,
#write > ol:first-child {
    margin-top: 30px;
}
img {
    border-left: none !important;
    border-right: none !important;
    border-radius: 4px !important;
}
a {
    color: #4183c4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,
h1 code {
    font-size: inherit;
}

h2 tt,
h2 code {
    font-size: inherit;
}

h3 tt,
h3 code {
    font-size: inherit;
}

h4 tt,
h4 code {
    font-size: inherit;
}

h5 tt,
h5 code {
    font-size: inherit;
}

h6 tt,
h6 code {
    font-size: inherit;
}

h1 {
    font-size: 2.25em;
    line-height: 1.2;
}

h2 {
    font-size: 1.75em;
    line-height: 1.225;
}

h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.15em;
}

h6 {
    font-size: 1em;
    color: #777;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li > ol,
li > ul {
    margin: 0 0;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

blockquote {
    border-left: 6px solid #a7d3ffb0;
    padding: 0.55rem 1em;
    color: #b0b5ba;
    background-image: linear-gradient(to left, #f8f8f8, #fbfbfbc7, transparent);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
blockquote blockquote {
    padding-right: 0;
}

table {
    padding: 0;
    word-break: initial;
}

table tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}

table th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}

table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}

table th:first-child,
table td:first-child {
    margin-top: 0;
}

table th:last-child,
table td:last-child {
    margin-bottom: 0;
}

.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: "Fira Code", "Adelle", "PingFang";
    font-size: 1em !important;
    padding: 0 2px 0 2px;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}

.md-task-list-item > input {
    margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

.md-fences {
    background-color: #f8f8f8;
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block > .code-tooltip {
    bottom: 0.375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

#write > h3.md-focus:before {
    left: -1.5625rem;
    top: 0.375rem;
}

#write > h4.md-focus:before {
    left: -1.5625rem;
    top: 0.285714286rem;
}

#write > h5.md-focus:before {
    left: -1.5625rem;
    top: 0.285714286rem;
}

#write > h6.md-focus:before {
    left: -1.5625rem;
    top: 0.285714286rem;
}

.md-image > .md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: #a7a7a7;
    opacity: 1;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #fafafa;
    border-color: #fefefe #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: "Adelle", "PingFang";
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

#md-notification .btn {
    border: 0;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
    opacity: 0.4;
}

.ty-preferences .window-content {
    background-color: #fafafa;
}

.ty-preferences .nav-group-item.active {
    color: white;
    background: #999;
}

.menu-item-container a.menu-style-btn {
    background-color: #f5f8fa;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
}
